@import "base/normalize.css";
@import "base/fonts.css";
@import "base/classes.css";
@import "components/loader.css";
@import "sections/main-nav.css";

* {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
}
body {
	height:100vh;
  font-family: helvetica, sans-serif;
}
html, body, #container, #content {
	height:100%;
}
.js #content {
	opacity:0;
	transition:opacity 0.3s linear 0.1s;
}
.js #content {
	opacity:1;
}
#content {
	position:relative;
	padding:50px 10px 10px;
	overflow:hidden;
}
body[data-path^="issues"] #content {
	padding-top:90px;
}
.background > img[data-image="issue1"] { object-position:top left; }
