@import "base/normalize.css";
@import "base/fonts.css";
@import "base/classes.css";
@import "components/loader.css";
@import "sections/main-nav.css";

* {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
	height:100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: helvetica, sans-serif;
}
.js #content {
	opacity:0;
	transition:opacity 0.3s linear 0.1s;
}
.js #content {
	opacity:1;
}
#content {
	position:relative;
	padding:50px 10px 0;
	min-height:100vh;
}
#content p {
	line-height:1.5;
}
#content p:nth-of-type(1) {
	margin-top:0;
}
#content p:nth-last-of-type(1) {
	margin-bottom:0;
}

#masthead > nav { z-index:20; }

#content {
	color:#444;
}
#content > p {
	max-width:600px;
	margin-left:auto;
	margin-right:auto;
	position: relative;
	z-index: 3;
	padding: 1em;
}
#content > p.white {
	color:white;
	background-color: rgba(0,0,0,0.5);
}
#content > p > span {
	display:block;
}

#content > p.left {
	max-width:500px;
	margin-left:-10px;
}
body[data-path="intro"] #content img {
}
body[data-path="intro"] #content .foreground {
	height:calc(100% - 50px);
	top:50px;
}
body[data-path="intro"] #content .foreground img {
	height:100%;
	width:100%;
	object-fit:contain;
}

body[data-path^="issues"] #content {
	padding-top:90px;
}
.background > img[data-image="issue1"] { object-position:top left; }
.background > img[data-image="gallery"] { object-position:top right; }
