.js .remove-item-form input[type="submit"],
.js .update-count-form input[type="submit"] {
	display: none;
}
.store-item[data-cart-count="0"] .has-items,
.store-item .no-items {
	display: none;
}
.store-item[data-cart-count="0"] .no-items {
	display: block;
}
.store-item[data-cart-count="0"] .actions form.no-items {
	display: inline-block;
}
.label-text {
	margin-right: 0.5em;
}
