#content .btn {
	color: hsla(182, 86%, 25%, 1);
	background-color: hsla(46, 86%, 81%, 1);
	padding: 0.3em 0.8em 0.4em;
	transition: color 0.2s linear, background-color 0.2s linear;
}
#content .btn.loading {
	background-color: hsla(46, 86%, 81%, 0);
    color: hsla(182, 86%, 25%, 0);
}
#button-container {
	display: flex;
	justify-content: space-evenly;
}
