input.count {
	width: 2.5em;
	padding: 0.25em;
}
#content .store-item {
	position: relative;
	margin-bottom: 15%;
}
.store-item .actions {
	margin: 0.3em 0;
}
.store-item .actions a,
.store-item .actions form {
	margin-right: 0.1em;
}
.actions form {
	display: inline-block;
}
.store-item header {
	margin: 1em auto;
	font-size: 0.8em;
}
.store-item h2,
.store-item h3 {
	margin: 0;
	text-transform: lowercase;
}
@media (max-width: 476px) {
	.store-item h2 {
		font-size: 1.2em;
	}
	.store-item h3 {
		font-size: 1em;
	}
	.store-item a.btn,
	.store-item button,
	.store-item input[type="submit"] {
		font-size: 0.7em;
	}
}
@media (min-width: 477px) {
	.store-item h2,
	.store-item h3 {
		display: inline-block;
	}
	.store-item h3::before {
		content: ' - ';
		margin: 0 1em;
	}
	#content .store-item {
		position: relative;
		margin-bottom: 10%;
	}
	.issues {
		text-align: left;
	}
	#content img {
		max-height: 45vh;
	}
}
@media (min-width: 670px) {
	#content {
		padding-top: 100px;
	}
}
@media (min-width: 1080px) {
	#content img {
		max-width: 1080px;
	}
}
