{% extends "site.twig" %}
{% block content %}
<article id="nda" class="lib-bold" data-forward-url="{{ urlFor('home') }}">
	<p>
		Welcome, if you are in this particular section of the website for Jack magazine, it means that you have been invited to a PRIVATE and CONFIDENTIAL viewing of the content within this segment strictly for YOU and YOUR EYES ONLY.
		<br >
		All materials are created, copyrighted and owned by Jack. Materials are from archival and recent work that is yet to be released.
	</p>
	<p>By clicking the background image and continuing on the site, you accept and agree NOT to disclose the confidential information/content of the website, and will not copy or share with anyone.</p>
	<p id="thanks">Thanks.</p>
	<p id="enjoy">Enjoy</p>
	<h1 class="lib-bold">Jack</h1>
</article>
{% endblock %}

