@import "base/normalize.css";
@import "base/fonts.css";
@import "base/classes.css";
@import "components/loader.css";
@import "sections/main-nav.css";

* {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
	height:100%;
  margin: 0;
  padding: 0;
}
body {
	background-color:white;
	color:#6c6868;
}
.js #content {
	opacity:1;
	transition:opacity 0.3s linear 0.1s;
}
#content {
	position: relative;
	padding: 20px 10px;
	min-height: calc(100vh - 159px);
}
.white {
	color:white;
}

#masthead > .main-nav { z-index:20; }
#masthead > .subnav { z-index:19; }
#masthead::after { z-index:18; }
#content { z-index:5; }
.page-background { z-index: 1; }

.modal {
	background-color: transparent;
	box-shadow: none;
	width: auto;
	-webkit-transform: scale(1) !important;
	-ms-transform: scale(1) !important;
	transform: scale(1) !important;
}
.loading.modal {
	background-color: transparent;
	bottom: 0;
	margin: auto;
	height: 20px;
	position: absolute;
	box-shadow: none;
}
.loader-inner {
	opacity: 0;
	transition: opacity 0.3s linear 0.3s;
	text-align: center;
}
.loading .loader-inner {
	opacity: 1;
}
.modal .loader-inner {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 3;
}

#content .text-content {
	position:relative;
	z-index: 3;
}
#content {
	font-size:18px;
}
#content .page-content:not(.main-content),
#content .text-content:not(.page-content) p,
#content > p {
	max-width:476px;
	margin-left:auto;
	margin-right:auto;
	padding: 1em;
}
#content .text-content p,
#content > p {
	line-height:1.5;
}
#content .text-content p a:hover,
#content > p a:hover {
	color: black;
}
#content p:nth-of-type(1) {
	margin-top:0;
}
#content p:nth-last-of-type(1) {
	margin-bottom:0;
}
#content p.left {
	max-width:500px;
	margin-left:-10px;
}
#content p > span {
	display:block;
}

#content img {
	max-width:100%;
}

@media (min-width: 670px) {
	#content {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.main-content.page-content,
	#content .text-content:not(.center) {
		margin-top:50px;
	}
}

.page-background {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.svg-icon {
	display: inline-block;
	-webkit-appearance: none;
	appearance: none;
}
.svg-icon svg {
	width: 90%;
	height: 90%;
	pointer-events: none;
}
.icon--arrow,
.icon--info {
	width: 40px;
	height: 40px;
}
.icon--arrow {
	width: 32px;
}
.icon--info path {
	fill: none;
	stroke: black;
	stroke-width: 10px;
	transition: stroke-width 0.2s;
}
.icon--info:hover path {
	stroke-width: 20px;
}
.icon--arrow.icon--prev {
	margin-left: -50px;
	transform: rotate(180deg);
}
.icon--arrow.icon--next {
	margin-left: 10px;
}
.icon--arrow path {
	fill: none;
	stroke: rgb(195,195,195);
	stroke-width: 7px;
	transition: stroke 0.2s;
}
.icon--arrow:hover path {
	stroke: #6c6868;
}
