@import "base/normalize.css";
@import "base/fonts.css";
@import "base/classes.css";
@import "components/loader.css";
@import "sections/main-nav.css";

* {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
	height:100%;
  margin: 0;
  padding: 0;
}
body {
	background-color:white;
	color:#6c6868;
}
.js #content {
	opacity:1;
	transition:opacity 0.3s linear 0.1s;
}
#content {
	position:relative;
	padding:50px 10px 0;
	min-height:100vh;
}
.white {
	color:white;
}

#masthead > .main-nav { z-index:20; }
#masthead > .subnav { z-index:19; }
#masthead::after { z-index:18; }
#content { z-index:5; }

#content .text-content {
	position:relative;
	z-index: 3;
}
#content .text-content:not(.center) {
	margin-top:50px;
}
#content {
	font-size:18px;
}
#content .page-content,
#content .text-content:not(.page-content) p,
#content > p {
	max-width:476px;
	margin-left:auto;
	margin-right:auto;
	padding: 1em;
}
#content .text-content p,
#content > p {
	line-height:1.5;
}
#content .text-content p a:hover,
#content > p a:hover {
	color: black;
}
#content p:nth-of-type(1) {
	margin-top:0;
}
#content p:nth-last-of-type(1) {
	margin-bottom:0;
}
#content p.left {
	max-width:500px;
	margin-left:-10px;
}
#content p > span {
	display:block;
}

/*
body[data-template-path="intro"] .content img {
}
body[data-template-path="intro"] .content .foreground {
	height:calc(100% - 50px);
	top:50px;
}
body[data-template-path="intro"] .content .foreground img {
	height:100%;
	width:100%;
	object-fit:contain;
}

body[data-template-path^="issues"] #content {
	padding-top:90px;
}
.background > img[data-image="issue1"] { object-fit:contain; }
.background > img[data-image="gallery"] { object-position:top right; }

body[data-template-path="intro"] .logo > p {
	font-size:18px;
	padding-top:0;
}
body[data-template-path="intro"] .logo > object {
	max-width: 350px;
	max-height: 60vh;
	width: 50VW;
	height: auto;
}
.flags > img {
	object-fit:contain;
}
.has-intro .intro-fade { transition-duration:2s, 0s; }
.skip-intro .intro-fade { transition-duration:0.5s, 0s !important; transition-delay:0s, 0.5s !important; }
body.skip-intro .post-intro-fade,
body:not([data-template-path="intro"]) .post-intro-fade {
	opacity:1;
	visibility:visible;
}
body.skip-intro .post-intro-fade {
	transition-property:none;
}
body.skip-intro .intro-fade:not(.post-intro-fade) {
	opacity:0;
	visibility:hidden;
	transition-duration:0.5s, 0s !important;
	transition-delay:0s, 0.5s !important;
}
body[data-template-path="intro"] .post-intro-fade,
body[data-template-path="intro"] .intro-fade {
	transition-duration:3s, 0s;
}
body[data-template-path="intro"] .intro-fade:not(.visible) {
	transition-delay:0s, 3s;
}
body[data-template-path="intro"] .posters.visible { transition-delay:0s, 0s; }
body[data-template-path="intro"] .flags.visible { transition-delay:6s, 6s; }
body[data-template-path="intro"] .logo.visible { transition-delay:12s, 12s; }
body[data-template-path="intro"] .post-intro-fade.visible { transition-delay:18s, 18s; }
*/

#content img {
	max-width:100%;
}

body[data-template-path="issues single"] .cover {
}
body[data-template-path="issues single"] .cover > img {
	object-fit:contain;
}
@keyframes coverfade {
  from { opacity:0; }
	25% { opacity:0; }
	75% { opacity:1; }
  to { opacity:1; }
}
body[data-template-path="issues single"] .cover.back {
	opacity:0;
	animation-name:coverfade;
	animation-duration:10s;
	animation-delay:3s;
	animation-iteration-count:infinite;
	animation-direction:alternate;
}
body[data-template-path~="editorial"] #content {
	margin-top:100px;
}
.issue-section {
	position:relative;
	max-width:1280px;
	margin:150px auto;
}
.issue-section:first-child {
	margin-top:0;
}
.issue-section .right {
	position:absolute;
	top:0;
	right:0;
	width:40%;
	padding:0 1em 0 2em;
}
.issue-section.behind .right {
	top:auto;
	bottom:0;
}
.issue-section .left {
	width:60%;
}
.issue-section .title {
	line-height:1;
	margin:0;
}
.issue-section .tags {
	margin-bottom:2em;
}
#content .issue-section .text-content p,
#content .issue-section img {
	padding:0;
	max-width:100%;
}
#content .issue-section .description {
	color:#b3b0b0;
	margin-top: 1em;
}
#content .issue-section h3,
#content .issue-section > .right > p {
	margin:0;
}
#fixed-issue-section {
	position:fixed;
	width:100%;
	height:calc(100vh - 200px);
	top:190px;
	left:50%;
	z-index:2;
	margin:0;
	transform:translateX(-50%);
}
.issue-section .right.hidden,
#fixed-issue-section .right:not(.visible) {
	visibility:hidden;
}

.event footer {
	margin: 1em 0 3em;
}
.event footer > p {
	margin: 0;
}
.event-image {
	display: block;
	max-width: 640px !important;
	margin: 2em auto;
}

body[data-template-path~="contact"] .main-content {
	margin-top: 50px;
}
body[data-template-path~="contact"] .columns {
	height:6em;
}
body[data-template-path~="contact"] form {
	max-width: 640px;
	margin: 0 auto 70px;
}
body[data-template-path~="contact"] #content form p:not(#form-message) {
	margin:0;
	padding:0;
	width:49%;
	max-width:50%;
}
#content #form-message {
	margin:-75px auto 50px;
}
body[data-template-path~="contact"] input,
body[data-template-path~="contact"] textarea {
	width: 100%;
	background-color: transparent;
	border: 1px solid #6e6c6c;
	color: white;
	font-size: 18px;
	outline-style: none;
}
body[data-template-path~="contact"] input[type="email"] {
	height: 40px;
	line-height: 40px;
	margin-bottom: 1em;
	padding: 0 .5em;
}
body[data-template-path~="contact"] textarea {
	height:10em;
	line-height:30px;
	padding:0.25em 0.5em;
}
body[data-template-path~="contact"] input[type="submit"] {
	background-color: transparent;
	width: auto;
	color: #b7b6b6;
}
#staff article {
	margin-bottom: 50px;
}
#staff p {
	margin: 0;
}
#staff a:hover {
	color: white;
}
