@import "base/normalize.css";
@import "base/fonts.css";
@import "base/classes.css";
@import "components/loader.css";
@import "sections/main-nav.css";

* {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
	height: 100%;
  margin: 0;
  padding: 0;
}
body {
	background-color:white;
	color: #6c6868;
}
#container {
	max-width: 1400px;
	margin: 0 auto;
}
.loader-inner > div {
	background-color: #6c6868;
}
.js #content {
	opacity: 1;
	transition: opacity 0.3s linear 0.1s;
}
#content {
	position: relative;
	padding: 20px 10px;
	min-height: calc(100vh - 159px);
}
.white {
	color:white;
}

#masthead > .main-nav { z-index:20; }
#masthead > .submenu { z-index:19; }
#masthead > .subnav { z-index:18; }
#masthead::after { z-index:17; }
#masthead { z-index: 6; }
#content { z-index:5; }
.page-background { z-index: 1; }

.modal {
	background-color: transparent;
	box-shadow: none;
	width: auto;
	-webkit-transform: scale(1) !important;
	-ms-transform: scale(1) !important;
	transform: scale(1) !important;
}
.loading.modal {
	background-color: transparent;
	bottom: 0;
	margin: auto;
	height: 20px;
	position: absolute;
	box-shadow: none;
}
.loader-inner {
	opacity: 0;
	transition: opacity 0.3s linear 0.3s;
	text-align: center;
}
.loading .loader-inner {
	opacity: 1;
}
.loader-outer {
	position: relative;
}
.loader-outer > .loader-inner,
.modal .loader-inner {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 3;
}
.infinite-scroll__target {
	height: 200px;
	max-height: 20vw;
}

#content .text-content {
	position: relative;
	z-index: 3;
}
#content {
	font-size: 18px;
}
#content .page-content:not(.main-content),
#content .text-content:not(.page-content) p,
#content > p {
	max-width:476px;
	margin-left:auto;
	margin-right:auto;
	padding: 1em;
}
#content .text-content p,
#content > p {
	line-height: 1.5;
}
#content .text-content p a:hover,
#content > p a:hover {
	color: black;
}
#content p:nth-of-type(1) {
	margin-top: 0;
}
#content p:nth-last-of-type(1) {
	margin-bottom: 0;
}
#content p.left {
	max-width: 500px;
	margin-left: -10px;
}
#content p > span {
	display:block;
}

#content img {
	max-width: 100%;
	outline-style: none;
}

a {
	color: #d4d0d0;
	text-decoration: none;
	transition: color 0.1s linear;
}

@media (min-width: 670px) {
	#content {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.main-content.page-content,
	#content .text-content:not(.center) {
		margin-top:50px;
	}
}

body,
.background-canvas {
	background: white none center center no-repeat;
	background-size: cover;
}
body > .page-background {
	display: none;
}
@media (min-width: 768px) {
	.background-canvas > .background,
	.js .page-background {
		display: inline;
		visibility: hidden;
	}
}

.svg-icon {
	display: inline-block;
	-webkit-appearance: none;
	appearance: none;
}
.svg-icon svg {
	width: 90%;
	height: 90%;
	pointer-events: none;
}
.stroke { stroke: rgb(195,195,195); }
.fill { fill: rgb(195,195,195); }
.stroke:not(.fill) { fill: none; }
.fill:not(.stroke) { stroke: none; }
.icon--prev .next, .icon--next .prev { display: none; }
.fullscreen .icon--fullscreen .arrow {
	transform: rotate(180deg);
	transform-origin: 55% 45%;
}

figure {
	position: relative;
	margin: 0 auto;
}
figcaption > aside {
	display: none;
	font-family: "Arial", sans-serif;
	font-weight: bold;
	font-style: normal;
	position: absolute;
	text-transform: uppercase;
	left: 100%;
	bottom: 0;
	white-space: nowrap;
	font-size: 9px;
	letter-spacing: 1px;
	transform: rotate(-90deg) translate(2px, 12px);
	transform-origin: left bottom;
}
@media (min-width: 700px) {
	figcaption > aside {
		display: block;
	}
}
a.btn,
button,
input[type="submit"] {
	display: inline-block;
	outline-style: none;
	background-color: #ddd;
	font-weight: bold;
	border: 1px solid #ddd;
	text-decoration: none;
	color: inherit;
	text-transform: uppercase;
	padding: 0.5em 1em 0.4em;
	letter-spacing: 1px;
	-webkit-appearance: none;
	appearance: none;
}
input[type="submit"] {
	transition: color 0.1s linear, background-color 0.1s linear;
}
input[type="submit"][disabled],
form.loading input[type="submit"] {
	background: white none center center no-repeat;
	color: #ddd;
	color: rgba(221,221,221,0.5);
}
form.loading input[type="submit"] {
	background-image: url(../bower_components/slick-carousel/slick/ajax-loader.gif);
}
