{% extends "admin/site.twig" %}
{% block content %}
<h1>Create new ACL role</h1>
<hr>
<br>
<form method="POST" action="{{ urlFor('admin/create-role') }}">
	<label>Name: <input type="text" name="name" required="required"></label>
	<br>
	<label>Description: <input type="text" name="description" required="required"></label>
	<br>
	<label>Role parent:<br>
		<select name="parent">
			<option value="1">root</option>
			{% for r in roles %}
			<option value="{{ r.ID }}">{{ r.Title }}</option>
			{% endfor %}
		</select>
	</label>
	<hr>
	<br>
	<input type="submit" value="create">
</form>
{% endblock %}

