#masthead h1 {
	margin:0;
}
#masthead > nav {
	position:fixed;
	display:flex;
	font-size:16px;
	letter-spacing:2px;
	color:black;
}
#masthead::after {
	content:'';
	position:fixed;
	left:0;
	width:100%;
	top:0;
	height:100px;
	background-image:linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
}

#masthead a:not([data-section="home"]) {
	border:3px none rgba(84, 84, 84, 0);
}
#masthead a:not([data-section="home"]):hover {
	border-color:rgba(84, 84, 84, 1);
}
body[data-template-path="about"] #masthead a[data-section="about"],
body[data-template-path="contact"] #masthead a[data-section="contact"],
body[data-template-path="event"] #masthead a[data-section="event"],
body[data-template-path~="issues"] #masthead a[data-section="issues"],
body[data-template-path="issues single"] #masthead a[data-section="issue-cover"],
body[data-url-path~="editorial-1"] #masthead a[data-section="editorial-1"],
body[data-url-path~="editorial-2"] #masthead a[data-section="editorial-2"] {
	border-color:rgba(0, 0, 0, 1);
}
#masthead > .main-nav a:not([data-section="home"]) {
	border-top-style:solid;
}
#masthead > .subnav a {
	border-bottom-style:solid;
}
#masthead > nav,
#masthead > nav a,
#masthead > .main-nav > ul,
#masthead > .main-nav > .far-right {
	height:35px;
}
#masthead > nav a {
	display:block;
	line-height:21px;
	padding:5px 0;
	margin:0 15px;
	outline-style:none !important;
	transition:border-color 0.2s;
}
#masthead > nav > .far-left,
#masthead > nav > .far-right {
	position:relative;
	flex-basis:150px;
	flex-grow:2;
}
#masthead > nav > .far-right a {
}

#masthead > .subnav {
	top:35px;
	font-size:13px;
}
#masthead > .subnav,
#masthead > .subnav a {
	height:30px;
}
#masthead > .subnav a {
	line-height:21px;
}
#masthead > nav > .far-left {
}
#masthead > nav > .far-left, #masthead > nav > .far-left a, #masthead > nav > .far-left .svg-image {
	height:73px;
}
#masthead > nav > .far-left a {
	float:left;
	padding-left:0;
	padding-top:0;
	margin:0;
	border-style:none;
}
#masthead > nav > .far-left .svg-image {
	width:auto;
}

.social-buttons {
	float:right;
	padding-right:15px;
}
.social-buttons .svg-image {
	width:30px;
	height:auto;
}
.social-buttons .svg-image:not(.svg--facebook) {
	width:20px;
}
#masthead .social-buttons li {
	width:50px;
}
#masthead .social-buttons a {
	margin:0 10px;
	line-height:40px;
}

.subnav > ul {
	margin:auto;
}
body[data-path="issues_single"] #masthead .subnav {
}

