#masthead h1 {
	margin:0;
}
#masthead > nav {
	position:fixed;
	display:flex;
	font-size:16px;
	letter-spacing:2px;
	background-color:rgba(255,255,255,0.9);
	color:black;
}
body[data-path="about"] #masthead a[data-section="about"],
body[data-path="team"] #masthead a[data-section="team"],
body[data-path="art-gallery"] #masthead a[data-section="art-gallery"],
body[data-path^="issues"] #masthead a[data-section="issues"],
body[data-path="issues_single"] #masthead a[data-section="issue-index"],
#masthead > nav a:not([data-section="home"]):hover {
	background-color:rgba(0,0,0,0.7);
	color:white;
}
#masthead > nav,
#masthead > nav a {
	height:50px;
}
#masthead > nav a {
	display:block;
	line-height:41px;
	padding:5px 15px;
	transition:color 0.2s, background-color 0.2s;
}
#masthead > nav > ul,
#masthead > nav > .far-left,
#masthead > nav > .far-right {
	height:50px;
}
#masthead > nav > .far-left,
#masthead > nav > .far-right {
	flex-grow:2;
}
#masthead > nav > .far-left {
	flex-basis:82px;
}
#masthead > nav > .far-right a {
}

#masthead > .subnav {
	top:50px;
	font-size:13px;
}
#masthead > .subnav,
#masthead > .subnav a {
	height:40px;
}
#masthead > .subnav a {
	line-height:31px;
}

#masthead > .main-nav > .far-left a {
	padding-top:8px;
	padding-bottom:5px;
}
body[data-path="issues_single"] #masthead .subnav {
	display:none;
}
