{% extends "admin/site.twig" %}
{% block content %}
<h1>Password change for {{ username }}</h1>
<form method="POST" action="{{ urlFor('passchange', { id: id }) }}">
	<label>New password: <input type="password" name="plainpass" required="required"></label>
	<label>Repeat new password: <input type="password" name="plainpass2" required="required"></label>
	<input type="submit" value="update">
</form>
{% endblock %}

