body[data-template-path="issues single"] .cover {
}
body[data-template-path="issues single"] .cover > img {
	object-fit:contain;
}
@keyframes coverfade {
  from { opacity:0; }
	25% { opacity:0; }
	75% { opacity:1; }
  to { opacity:1; }
}
body[data-template-path="issues single"] .cover.back {
	opacity:0;
	animation-name:coverfade;
	animation-duration:10s;
	animation-delay:3s;
	animation-iteration-count:infinite;
	animation-direction:alternate;
}
