body[data-template-path="issues grid"] #content {
	padding-left: 0;
	padding-right: 0;
}

.js .image-grid__item header {
	display: none;
}

.image-grid main,
.image-grid a {
	display: inline-block;
}
.image-grid main,
.image-grid a,
.image-grid img {
	height: 100%;
}
.image-grid img {
}
.image-grid main {
}
.image-grid a {
	transition: opacity 0.2s linear;
}
.image-grid a:hover {
	opacity: 0.65;
}

.modal-layout {
	text-align: center;
}
.modal-layout h1 {
	margin-top: 0;
	margin-bottom: 0.5em;
	color: white;
}
.modal-layout img {
	max-height: calc(100vh - 130px);
}
