body[data-template-path="issues grid"] #content {
	padding-left: 0;
	padding-right: 0;
}

.js .image-grid__item header {
	display: none;
}

.image-grid main,
.image-grid a {
	display: inline-block;
}
.image-grid main,
.image-grid a,
.image-grid img {
	height: 100%;
}
.image-grid img {
}
.image-grid main {
}
.image-grid a {
	transition: opacity 0.2s linear;
}
.image-grid a:hover {
	opacity: 0.65;
}
