#content {
	padding-top: 0;
	text-align: center;
	padding-bottom: 0;
	overflow: hidden;
	background-color: white;
}
.fullscreen #content {
	padding-top: 0;
	width: 100vw;
}
.fullscreen #content,
.fullscreen #slideshow,
.fullscreen .slick-slide,
.fullscreen #slideshow img {
	height: 100vh !important;
}
#content h1 {
	margin-top: 0;
}
#content img {
	display: block;
}
.js #content > img {
	display: none;
}
#slideshow {
	background-color: white;
	overflow: hidden;
	transition: height 500ms;
}
#slideshow img {
	width: 100vw;
	height: calc(100vh - 120px);
	object-fit: contain;
}
@media (min-width: 670px) {
	#slideshow img {
		height: calc(100vh - 65px);
	}
}
.slick-loading {
	visibility: hidden;
}
.slick-slide {
	outline-style: none;
	background: white url(../../bower_components/slick-carousel/slick/ajax-loader.gif) center center no-repeat;
	opacity: 0;
	transition: opacity 500ms linear 1s;
}
.slick-current {
	opacity: 1;
}
#slideshow-controls {
	position: absolute;
	bottom: 0;
	left: 50%;
	height: 50px;
	padding: 12px 10px 0;
	overflow: hidden;
	white-space: nowrap;
	background-color: rgba(255,255,255,0.6);
	transform: translateX(-50%) translateY(100%);
	transition: transform 0.3s linear 1s;
}
#slideshow-controls.visible,
#slideshow-controls:hover,
.mousemove #slideshow-controls {
	transform: translateX(-50%) translateY(0);
	transition-delay: 0s;
}
.svg-button {
	height: 30px;
	width: 50px;
}
#slideshow-controls .stroke { stroke: #6c6868; transition: stroke 0.3s linear; }
#slideshow-controls .fill { fill: #6c6868; transition: fill 0.3s linear; }
#slideshow-controls .svg-button:hover .stroke { stroke: black; }
#slideshow-controls .svg-button:hover .fill { fill: black; }
#slideshow-controls .icon--arrow { width: 35px; }

.mouse--left #slideshow { cursor: url(../../../cursors/left.png), w-resize; }
.mouse--right #slideshow { cursor: url(../../../cursors/right.png), e-resize; }
body:not(.mousemove) #slideshow { cursor: none !important; }
/*
.slick-arrow {
	width: 25px;
	height: 40px;
	z-index: 3;
	opacity: 0;
	transition: opacity 500ms linear;
	top: calc(50% - 20px);
}
#slideshow:hover .slick-arrow {
	opacity: 1;
}
.slick-arrow::before {
	display: none;
}
.slick-prev {
	left: 10px;
	margin-left: 0 !important;
}
.slick-next {
	right: 10px;
	transform: none;
}
*/
