#content {
	text-align: center;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
}
#content h1 {
	margin-top: 0;
}
#content img {
	display: block;
}
.js #content > img {
	display: none;
}
#slideshow {
	background-color: white;
	overflow: hidden;
	transition: height 500ms;
}
@media (min-width: 670px) {
	#content {
		padding-top: 67px;
	}
	#slideshow img {
		width: 100vw;
		height: calc(100vh - 67px);
		object-fit: contain;
	}
}
.slick-loading {
	visibility: hidden;
}
.slick-slide {
	background: white url(../../bower_components/slick-carousel/slick/ajax-loader.gif) center center no-repeat;
	opacity: 0;
	transition: opacity 500ms linear 1s;
}
.slick-current {
	opacity: 1;
}
.slick-arrow {
	width: 25px;
	height: 40px;
	z-index: 3;
	opacity: 0;
	transition: opacity 500ms linear;
	top: calc(50% - 20px);
}
#slideshow:hover .slick-arrow {
	opacity: 1;
}
.slick-arrow::before {
	display: none;
}
.slick-prev {
	left: 10px;
	margin-left: 0 !important;
}
.slick-next {
	right: 10px;
	transform: none;
}
