<form class="store-form add-item-form no-items" action="{{ urlFor('add-item') }}" method="POST">
	<input type="hidden" name="id" value="{{ variant.getItemId() }}">
	<input type="hidden" name="variant_id" value="{{ variant.getVariantId() }}">
	<input type="submit" value="Add to cart">
</form>
