<form class="store-form remove-discount-form if-discount no-submit" action="{{ urlFor('remove-discount') }}" method="POST">
	<input type="submit" value="Remove discount">
	<button class="x icon plain">&#x2718;</button>
</form>
