{% extends "site.twig" %}
{% block subnav %}
{% include "snippets/issues_subnav.twig" %}
{% endblock %}
{% block content %}
<section class="image-grid" data-col-count="4" data-size="small">
	{% for section in issue.getSections() %}{% for layout in section.getLayouts() %}
	<article class="image-grid__item">
		<header><h2>{{ layout.title }}</h2></header>
		<main><a href="{{ layout.getUrl(issue) }}" data-image="{{ layout.getImageSrc() }}">{{ layout.title }}</a></main>
	</article>
	{% endfor %}{% endfor %}
</section>
{% endblock %}
