{% extends "site.twig" %}
{% block subnav %}
{% include "snippets/issues_subnav.twig" %}
{% endblock %}
{% block content %}
<h1>{{ layout.title }}</h1>
<img src="{{ layout.src }}" srcset="{{ layout.srcset }}" alt="" sizes="100vw">
{% endblock %}
