{% extends "admin.twig" %}
{% block content %}
<h2>Add new issue</h2>
<form action="{{ urlFor('issue-form-handler') }}" method="POST">
	<input type="hidden" name="id" value="{{ issue.id }}">
	<p><label>Issue number: <input type="number" name="number" value="{{ issue.number }}"></label></p>
	<p><label>Title: <input name="title" value="{{ issue.title }}"></label></p>
	<p><label><input type="checkbox" name="published" {% if issue.published %}checked{% endif %}> Published?</label></p>
	<p><input class="btn" type="submit" value="Submit"></p>
</form>
{% endblock %}
