{% extends "site.twig" %}
{% block content %}
<header><h2>thoughts & reasons, then plans</h2></header>
<article>
	<div id="who">
		<dt>Who is Jack?</dt>
		<dd>
			<p>Jack is a magazine for all ages, men and women.
			Jack is a magazine in large poster size format, compose of the carefully 
			selected topics from - fashion / beauty / music / film / art / architecture / 
			sports / people - presented in a collectable art form through 
			photography, illustration, typography, graphics and film. The final result 
			is not just one poster but many posters in each issue of the magazine - 
			30 posters or 60 pages to be exact in the first issue, all quite exciting 
			eye candy material which you will be proud to own, collect, share and 
			display - the best of each season.</p>
			<p>Jack is a documentary where memoriable moments are captured while 
			making of Jack, edited and will be presented on a network as well as 
			special segments on Youtube. This will be a fast pace film formatted like 
			the style of go pro with better angle/camera/lens, in depth studies of 
			making of Jack, production of all levels, detailed interviews with artists/
			stars, sponsors contribution. Actors and musicians will be interviewed, 
			collections from fashion designers will be highlighted, models and muse 
			are challenged, sportsman revealing their secrets while showing off, 
			make up artists / hair stylist / set designers / wardrobe talking about 
			their crafts while educating the world, not forgetting also the crew and 
			team members, editors, location scouts realtor, assistants … all working 
			towards the creation of magical moments and art while making of Jack 
			magazine.</p>
			<p>Jack is a website where all of the above will be collected and 
			documented, where the site will bring entertainment, excitement and 
			fresh ideas to anyone visiting, where audience can participate and share 
			online. No one will leave the site unfulfilled. Jack embrace all that is 
			good, from beauty to fashion, music to films, sports to health, spreading 
			only good to the world + love.</p>
		</dd>
	</div>

	<div id="why">
		<dt>Why Jack?</dt>
		<dd>
			<p>I do not know, but ever since i was a kid, i have always liked the name 
			Jack, and why not use this name for a magazine? It is easy and simple to 
			remember, and definitely friendly where no politics or negativity exist, 
			where we embrace all artists and collaborate to create more beauty in 
			this world. Jack magazine has been a labour of love, it started almost 8 
			years ago when i just needed an outlet for expression to create 
			something honest, pure but exciting and fresh, with no limits in all 
			environment from editorial to advertising. I remember while growing 
			up and going to school in England, i came across so many amazing 
			posters on the street that i have tried in vain to take off without 
			damaging the poster during the process, why? so that i can paste it in 
			my study, appreciate while gazing at the artwork, and because it would 
			just make me feel so good. Here and now, i am making this a reality, 
			where one can easily pick Jack up and enjoy the experience.</p>
			<p>Jack’s fans will now be able to collect, experience, display and enjoy 
			Jack’s content, also review, participate and contribute to jack's network 
			of readers and fans. Remember, Jack is all about embracing talented 
			people and contributing to promote art, beauty, film, music, sports, 
			entertainment, good life, health + love.</p>
		</dd>
	</div>

	<div id="what">
		<dt>What is Jack?</dt>
		<dd>
			<p>Jack is a poster size magazine, a collectible piece of art where we 
			collaborate with some of the most talented individuals in the world, 
			where neither politics nor limits exist, where we challenge ourselves and 
			dare to dream. We strive to create with the purest of hearts along with a 
			positive, eager and passionate soul.</p>
			<p>Jack presents the best of each season on Fashion, Beauty, Music, Film, 
			Sports, Design, Art, People.</p>
			<p>There will be 2 issues during the first year, 4 issues each year following.
			Jack first premiere issue(“dare to dream“) will be launched in fall 2014, 
			it consist of 30 posters/60 pages with a cover that consist of a gatefold. 
			Jack’s second issue ( “show n tell”) is also the academy awards issue 
			will be launched in spring 2014.</p>
			<p>Page size is 24” x 18”, Spread size ( poster ) is 24” x 36”, Cover page is 
			24” x 54” (3 pages), Page count is 60.</p>
			<p>All posters printed on both sides.</p>
			<p>Jack magazine maybe packaged in a rolled up format inserted into a 
			tube and packaged within a box with other tubes - think slim 
			cigarettes within the cigarette box, accept in this case, a much larger 
			version where the box is covered with collages of content within the 
			magazine. Jack magazine will also be displayed as a magazines with 
			rod hanging like the ones at a library.</p>
		</dd>
	</div>

	<div id="why-me">
		<dt>Why me for Jack?</dt>
		<dd>
			<p>My name is xxxxxxx, aka Suzi Simona Menouki, some of you already know who
			i am, but i want this to be not about me, but about Jack and the subjects
			Jack embraces, featuring original ideas, collaborating with some of the most
			sort after talented individuals, with no limits and boundaries as to how 
			great the art can be, the final product is Jack.</p>
			<p>I would like to facilitate the start up of such a spark, bringing what i
			know and good into the mix with the best artists and subjects in an environment
			where we will make magic and art - to be presented to the world as Jack.</p>
			<p>I was born in Asia, lived and schooled in England. My passion is art, 
			drawing and painting became part of my academic repertoire. I speak chinese,
			studied French language at the Sorbonne university in paris, ventured and taken
			part in many mischief while residing in London from posh situation to punk
			environment, and loved every bit of it. I adore the creativity and edge this
			great city brings.</p>
			<p>While growing up, i embrace the idea of not following the masses but rather,
			to learn from them and history, but always stay true and strong as an individual.
			After boarding school, i got accepted to LSE, but decided to travel to the
			United States where i entered the Architectural department at UC Berkeley.</p>
			<p>After graduation, i came to New York and embark on a wild and crazy journey
			into the world of music, fashion, beauty, entertainment and advertising. i have
			worked in visuals, photography and film with some of the best in the world,
			from make up artists, hair stylists, manicurists, set designers, wardrobe stylists,
			location scouts, producers, assistants … to graphic designers, retouchers,
			printers, art directors, creative directors, CEOS. I have worked with magazines
			such as W, Vanity Fair, New York Times, Detail, interview … to L’oreal, Redken,
			Matrix, Revlon, MAC, Wella, Armani Exchange, Levi’s. I have also worked extensively
			with personalities like Madonna, Beyonce, Jay Z, Prince, Alicia Keys, Mary J,
			Lenny Kravitz, Jennifer Lopes, Snoop dog, Ludacris, Black Crow, Beck, Julie Delpy,
			Rosario Dawson, Mark Ronson, kevin Garnett … Every assignment has been a learning
			experience and my attitude and believe has always been to do my absolute best
			and give every being into the work.</p>
			<p>Needless to say, i have always dove into every project like it is the last one,
			i want to experience and enjoy the process of this creation and collaboration …
			and nothing has changed here, if anything, only intensified many many folds.</p>
			<p>I get so excited and passionate about the possibilities for Jack, what it can be,
			how Jack will change and influence the world. I believe Jack will be an inspiration
			to anyone who gets a taste of it, where the doors will open and nothing is
			impossible. I will use my knowledge and experience for Jack in ways i could never
			have been able to in the past. Jack’s first premier issue is “ dare to dream “,
			which is what i want for everyone involved in it to explore, and to have the
			audience relate to it.</p>
			<p>I hope to mix all culture, beauty, philosophy, love and peace together, create a new language … Jack is fresh.</p>
			<img src="{{ images.why_a }}" alt="">
			<img src="{{ images.why_b }}" alt="">
		</dd>
	</div>

	<div id="why">
		<dt>Why Jack?</dt>
		<dd>
		</dd>
	</div>
Where is Jack?
Jack magazine will be available at Jack’s head quarters and showroom.
Jack magazine can be ordered through the website.
Jack will be distributed and sold at carefully selected venues and kiosks.
Jack will be sold and presented in selected boutiques, department 
stores, hotels, restaurants, coffee houses.
Jack trunk featuring Jack (magazine, laptop monitors, products) will also 
be presented like a pop up store in selected existing establishments.
Jack will make appearance and cover selected Fashion / Film / Music / 
Art / Sports events and festivals - SXSW, Academy award, Grammys, 
MTV awards, Canne festival, Sundance film, Tribeca film, Art Basel, 
NY fashion week, London fashion week, Paris fashion week, Italy 
fashion week ...
Jack truck will present Jack as a pop up store in selected events, cities, 
countries.
United States ( all major cities ), London, Paris, Italy, China, Japan, 
Singapore … GLOBAL.

	<div id="why">
		<dt>Why Jack?</dt>
		<dd>
		</dd>
	</div>
How will Jack be launched and released ?
2 weeks prior to the anticipated release of every issue by Jack, there 
will be allocated wall spaces on the streets to display every single poster 
of Jack, from beginning to the end starting with the cover. In a location 
like NYC, Jack will be launched and released near target locations like 
Lincoln center, Soho/Noho, Meatpacking, Union Square, Time Square 
…
Every Jack issue will be launched with a celebration in a gallery venue 
where every poster within the new issue will be presented in museum 
quality archival format, numbered and to be sold to collectors. 
Celebration will be followed by after party event. This will take place in 
NYC, LA, Miami, and will proceed to global.
Special allocated venues from hotel to stores.

	<div id="why">
		<dt>Why Jack?</dt>
		<dd>
		</dd>
	</div>
Present + Future
Creative Adverting division
Film
Music
Fine Art
Clothing
Accessaries
Beauty
Health
Design
Charity for Animals

	<div id="why">
		<dt>Why Jack?</dt>
		<dd>
		</dd>
	</div>
Editors & Contributors
Danny Santiago ( fashion )
Stacy London ( fashion )
Chuck Pollard ( beauty / l’oreal )
Dr. Randal Hayworth ( beauty )
Alexis Bittar ( fashion / accessaries )
Mathew ( print production manager )
Sarah Beth ( Casting editor )

	<div id="why">
		<dt>Why Jack?</dt>
		<dd>
		</dd>
	</div>
Sponsors
Equipment
Photo/film studios
Catering
Production
Legal
Travel
Location
Office
Storage
Communication
Accomodations
Hotel
Car & Limo
Trucking
[greenpoint.jpg]

	<div id="why">
		<dt>Why Jack?</dt>
		<dd>
		</dd>
	</div>
Advertisement (upon approval) - exclusive + advertorial
Fashion
Beauty
Music
Film
Tv/network
Luxury ( jewelry, accessaries, eye wear etc )
Automobile
Fantasy
	
</article>
<footer><p>Jack</p></footer>
{% endblock %}

