{% extends "site.twig" %}
{% block content %}
<header><h2>thoughts & reasons, then plans</h2></header>
<article>
	{% for s in stories %}
	<div id="{{ s.id }}">
		<dt>{{ s.title }}</dt>
		<dd>
			{% for p in s.paragraphs %}
			<p class="{{ p.color }}">{{ p.text }}</p>
			{% endfor %}
		</dd>
	</div>
	{% endfor %}
</article>
<footer><p>Jack</p></footer>
{% endblock %}

