{% extends "site.twig" %}
{% block content %}
<header><h2>Hello friends,</h2></header>
<article>
	<p>welcome to this special segment of Jack magazine 
	website, you have been assigned a special username and 
	a password dedicated only to you and non transferrable. 
	Please know that upon entering this segment, you 
	acknowledge and agree that all contents are private and 
	for your eyes only.</p>
	<p>All material and copyright on this site are reserved and the 
	property of Jack.</p>
</article>
<footer><p>Enjoy, Jack</p></footer>
<div id="welcome-links">
	<a href="{{ urlFor('questions') }}">The story of JACK</a>
	<a href="{{ urlFor('issue', {"slug":first_issue.slug}) }}">Skip to issue #1</a>
</div>
{% endblock %}

