.magazine, .magazine__section {
	height:400px;
}
.magazine__section {
	background-color:#F8F8F8;
}

.magazine {
	padding:100px 0 100px 300px;
	border:1px solid #000;
	overflow-x:hidden;
	overflow-y:auto;
	&, .magazine__section {
		position:relative;
		width:900px;
	}
}

.magazine__nav {
	position:absolute;
	top:0;
	left:50%;
	margin-left:100px;
	font-size:3em;
	width:100px;
	a {
		text-decoration:none;
	}
}

.magazine__thumbs {
	position:absolute;
	left:0;
	top:0;
	width:300px;
	height:100%;
	overflow-x:hidden;
	overflow-y:scroll;
	li {
		width:225px;
		text-align:center;
		margin:0 auto 30px;
		&.selected, a:hover {
			opacity:0.5;
		}
	}
	ol {
		margin:0;
		padding:0;
	}
	a {
		display:block;
		margin-top:5px;
	}
}


/************************
 * ***** Issue 3D ******/
.magazine__section {
	&, img {
		-webkit-transition:all 1s;
		-moz-transition:all 1s;
		transition:all 1s;
	}
	-webkit-perspective:1500px;
	-moz-perspective:1500px;
	perspective:1500px;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform-origin:50% 0 0;
	-moz-transform-origin:50% 0 0;
	transform-origin:50% 0 0;
	&.flip {
		-webkit-transform:rotateY(180deg);
		-moz-transform:rotateY(180deg);
		transform:rotateY(180deg);
	}
	.front {
		z-index:10;
		-webkit-backface-visibility:hidden;
		-moz-backface-visibility:hidden;
		backface-visibility:hidden;
	}
	.back {
		z-index:1;
	}
	img {
		position:absolute;
		width:33.33%;
	}
}

.magazine-poster {
	.left {
		right:50%;
	}
	.right {
		left:50%;
	}
	.magazine-poster__front-left {
		-webkit-transform-origin:100% 0 0;
		-moz-transform-origin:100% 0 0;
		transform-origin:100% 0 0;
		-webkit-transform:rotateY(60deg);
		-moz-transform:rotateY(60deg);
		transform:rotateY(60deg);
	}
	.magazine-poster__front-right {
		-webkit-transform-origin:0 0 0;
		-moz-transform-origin:0 0 0;
		transform-origin:0 0 0;
		-webkit-transform:rotateY(-60deg);
		-moz-transform:rotateY(-60deg);
		transform:rotateY(-60deg);
	}
	.magazine-poster__back-left {
		z-index:2;
		-webkit-transform-origin:0 0 0;
		-moz-transform-origin:0 0 0;
		transform-origin:0 0 0;
		-webkit-transform:rotateY(-60deg);
		-moz-transform:rotateY(-60deg);
		transform:rotateY(-60deg);
	}
	.magazine-poster__back-right {
		-webkit-transform-origin:100% 0 0;
		-moz-transform-origin:100% 0 0;
		transform-origin:100% 0 0;
		-webkit-transform:rotateY(60deg);
		-moz-transform:rotateY(60deg);
		transform:rotateY(60deg);
	}
	&.open {
		.front, .back {
			-webkit-transform:rotateY(0deg);
			-moz-transform:rotateY(0deg);
			transform:rotateY(0deg);
		}
	}
}
.magazine-cover {
	.left {
		left:0;
	}
	.middle {
		left:33.33%;
	}
	.right {
		left:66.66%;
	}
	.magazine-cover__front-cover {
	}
	.magazine-cover__back-cover {
		-webkit-transition-delay:1s;
		-moz-transition-delay:1s;
		transition-delay:1s;
		-webkit-transform-origin:100% 0 0;
		-moz-transform-origin:100% 0 0;
		transform-origin:100% 0 0;
		-webkit-transform:rotateY(-90deg);
		-moz-transform:rotateY(-90deg);
		transform:rotateY(-90deg);
	}
	.magazine-cover__cover-index {
		-webkit-transform-origin:0 0 0;
		-moz-transform-origin:0 0 0;
		transform-origin:0 0 0;
		-webkit-transform:rotateY(90deg);
		-moz-transform:rotateY(90deg);
		transform:rotateY(90deg);
	}
	.magazine-cover__poster-middle {
		-webkit-transform:rotateY(180deg);
		-moz-transform:rotateY(180deg);
		transform:rotateY(180deg);
	}
	.magazine-cover__poster-right {
		-webkit-transition-delay:1s;
		-moz-transition-delay:1s;
		transition-delay:1s;
		-webkit-transform-origin:100% 0 0;
		-moz-transform-origin:100% 0 0;
		transform-origin:100% 0 0;
		-webkit-transform:rotateY(-90deg);
		-moz-transform:rotateY(-90deg);
		transform:rotateY(-90deg);
	}
	.magazine-cover__poster-left {
		-webkit-transform-origin:0 0 0;
		-moz-transform-origin:0 0 0;
		transform-origin:0 0 0;
		-webkit-transform:rotateY(90deg);
		-moz-transform:rotateY(90deg);
		transform:rotateY(90deg);
	}
	&.open {
		.magazine-cover__front-cover {
		}
		.magazine-cover__back-cover {
			-webkit-transition-delay:0s;
			-moz-transition-delay:0s;
			transition-delay:0s;
			-webkit-transform: rotateY(0deg);
			-moz-transform: rotateY(0deg);
			transform: rotateY(0deg);
		}
		.magazine-cover__cover-index {
			-webkit-transition-delay:1s;
			-moz-transition-delay:1s;
			transition-delay:1s;
			-webkit-transform: rotateY(0deg);
			-moz-transform: rotateY(0deg);
			transform: rotateY(0deg);
		}
		.magazine-cover__poster-right {
			-webkit-transition-delay:0s;
			-moz-transition-delay:0s;
			transition-delay:0s;
			-webkit-transform: rotateY(0deg);
			-moz-transform: rotateY(0deg);
			transform: rotateY(0deg);
		}
		.magazine-cover__poster-left {
			-webkit-transition-delay:1s;
			-moz-transition-delay:1s;
			transition-delay:1s;
			-webkit-transform: rotateY(0deg);
			-moz-transform: rotateY(0deg);
			transform: rotateY(0deg);
		}
	}
	&.open.flip {
	}
}

.magazine-centerfold {
	height:800px;
	.bottom {
		bottom:0;
	}
	.top {
		top:0;
	}
	.left {
		right:50%;
		-webkit-transform-origin:100% 100% 0;
		-moz-transform-origin:100% 100% 0;
		transform-origin:100% 100% 0;
	}
	.right {
		left:50%;
		-webkit-transform-origin:0 100% 0;
		-moz-transform-origin:0 100% 0;
		transform-origin:0 100% 0;
	}
	.top.left {
		-webkit-transform:rotateX(-180deg) rotateY(-60deg);
		-moz-transform:rotateX(-180deg) rotateY(-60deg);
		transform:rotateX(-180deg) rotateY(-60deg);
	}
	.top.right {
		-webkit-transform:rotateX(-180deg) rotateY(60deg);
		-moz-transform:rotateX(-180deg) rotateY(60deg);
		transform:rotateX(-180deg) rotateY(60deg);
	}
	.bottom.left {
		-webkit-transform:rotateY(-60deg);
		-moz-transform:rotateY(-60deg);
		transform:rotateY(-60deg);
	}
	.bottom.right {
		-webkit-transform:rotateY(60deg);
		-moz-transform:rotateY(60deg);
		transform:rotateY(60deg);
	}
	.front.left, .back.right {
	}
	.front.right, .back.left {
	}
	.back.top {
		z-index:8;
	}
	.front.bottom {
		z-index:7;
	}
	&.open {
		.top {
			-webkit-transform:rotateX(-180deg) rotateY(0deg);
			-moz-transform:rotateX(-180deg) rotateY(0deg);
			transform:rotateX(-180deg) rotateY(0deg);
		}
		.bottom {
			-webkit-transform:rotateY(0deg);
			-moz-transform:rotateY(0deg);
			transform:rotateY(0deg);
		}
	}
	&.open-top {
		.top {
			-webkit-transform:rotateX(0deg);
			-moz-transform:rotateX(0deg);
			transform:rotateX(0deg);
		}
	}
}

