body {
	background-image:url(../../images/backgrounds/login.jpg);
	background-size:auto 100%;
}
#masthead > h1, #content > h2 {
	line-height:0.8em;
	margin:0;
}
#masthead > h1 {
	font-size:8em;
	letter-spacing:-0.08em;
}
#container {
	width:44%;
	height:100%;
	text-align:right;
	padding:7% 0 23% 0;
}
#content > h2 {
	text-transform:lowercase;
	font-size:4em;
	letter-spacing:-0.07em;
	margin-bottom:10%;
}
#content form {
	padding-right:5%;
}
#content label {
	font-size:1.2em;
	display:block;
	margin-bottom:3%;
}
#content label > input {
	margin-left:0.5em;
	border:none;
	outline:none;
	padding:0 0.2em;
}
input[type="submit"] {
	color:#b1cbbd;
	padding:0.1em 0.3em;
	margin-top:1%;
}
