body {
	min-width:765px;
  font-size: 2em;
  letter-spacing: -2px;
}
#container {
  background-image:url(../../images/backgrounds/questions.jpg);
  padding-bottom:66.6667%;
  color: #b4b4ac;
  padding-left:3.5%;
}
#content > article {
  line-height: 0.8;
	font-size:1.1em;
}
#content > header a {
  color:#b4b4ac;
  text-decoration: none;
}
#content > header a:hover {
  color:#faa0a8;
}
#content > article a {
  color: white;
  text-decoration: none;
}
#content > article a:hover {
  color:#c3c3bb;
}
h2 {
  font-size:1.82em;
  letter-spacing:-4px;
  font-weight:600;
  margin-top:9%;
}
#content > article p {
  margin: 0;
}
#content > article p:nth-child(1) {
  text-indent: 7%;
}
#content > article p:nth-child(2) {
  text-indent: 8%;
}
#content > article p:nth-child(3) {
  text-indent: 9%;
}
#content > article p:nth-child(4) {
  text-indent: 10%;
}
#content > article p:nth-child(5) {
  text-indent: 11%;
}
#content > article #set-2 {
  font-style: italic;
  margin-top: 0.5%;
}
#content > article #set-2 p {
  text-indent: 19%;
}
#content > footer {
  margin-top: 5%;
  text-align: right;
}
