.section-welcome {
	background:url(../images/backgrounds/welcome.jpg) center top no-repeat;
	background-size:cover;
	color:white;
	font-size:2em;
	letter-spacing:-2px;
	#masthead {
		display:none;
	}
	#content {
		padding-bottom:20%;
		position:relative;
	}
	h2 {
		font-size:1.65em;
		letter-spacing:-4px;
	}
	footer {
		margin-top:5%;
		text-align:right;
	}
}
#welcome-links {
	position:absolute;
	width:100%;
	overflow:auto;
	bottom:0;
	a {
		color:white;
		text-decoration:none;
		text-transform:uppercase;
		&:first-child {
			float:left;
		}
		&:last-child {
			float:right;
		}
	}
}
