{% extends "admin/site.twig" %}
{% block content %}
<h2>Add new page</h2>
<p><a href="{{ urlFor('admin/issue', {"slug": issue.slug}) }}">Back to issue</a></p>
<form action="{{ urlFor('admin/issue/newpage', {"slug": issue.slug}) }}" method="POST" enctype="multipart/form-data">
	<input type="hidden" name="id" value="0">
	<label>Title: <input name="title"></label><br />
	<label for="description">Description: </label>
	<textarea id="description" name="description"></textarea><br /><br />
	<label>Poster <input type="file" name="poster"></label>
	<p>The image size must be <strong>900 x 600</strong> pixels.</p>
	<input type="submit" value="Add">
</form>
{% endblock %}
