{% extends "admin/site.twig" %}
{% block content %}
<h1>Create new ACL permission</h1>
<hr>
<br>
<form method="POST" action="{{ urlFor('admin/create-permission') }}">
	<label>Name: <input type="text" name="name" required="required"></label>
	<br>
	<label>Description: <input type="text" name="description" required="required"></label>
	<br>
	<label>Permission parent:<br>
		<select name="parent">
			<option value="1">root</option>
			{% for p in permissions %}
			<option value="{{ p.ID }}">{{ p.Title }}</option>
			{% endfor %}
		</select>
	</label>
	<hr>
	<br>
	<input type="submit" value="create">
</form>
{% endblock %}

