<nav class="subnav foreground tc lowercase">
	<ul class="horizontal-list floats">
		<li><a class="plain {% if ISSUE_SECTION == 'editorial' %}selected{% endif %}" href="{{ urlFor('editorial', { slug: issue.slug }) }}">Editorial</a></li>
		{% for n in [1,2] %}
		<li><a class="plain {% if ISSUE_SECTION == 'layouts' and part == n %}selected{% endif %}" href="{{ urlFor('layouts', { slug: issue.slug, part: n }) }}">Part {{ n }} Layouts</a></li>
		{% endfor %}
	</ul>
</nav>
