<nav class="subnav foreground tc lowercase">
	<ul class="horizontal-list floats">
		<li class="overview"><a class="plain {% if 'JackBlackPussyCat' in ACTION_CLASS %}selected{% endif %}" href="{{ issue.getUrl() }}">Overview</a></li>
		<li class="editorial"><a class="plain {% if 'sections' in TEMPLATE_PATH %}selected{% endif %}" href="{{ issue.getUrl() }}">Editorial</a></li>
		<li class="pussycats"><a class="plain {% if 'Pussycats' in ACTION_CLASS %}selected{% endif %}" href="{{ issue.getModelsUrl() }}">Pussy Cats</a></li>
		<li class="layouts"><a class="plain {% if 'grid' in TEMPLATE_PATH %}selected{% endif %}" href="{{ issue.getLayoutsUrl() }}">Layouts</a></li>
	</ul>
</nav>
