<nav class="subnav foreground tc lowercase">
	<ul class="horizontal-list floats">
		{% for browse in ['sections','layouts'] %}
		<li><a class="plain" data-section="issue-{{ browse }}" href="{{ browse }}">{{ browse | capitalize }}</a></li>
		{% endfor %}
	</ul>
</nav>
