<section class="models lowercase no-underline">
	{% for m in models %}
	<article class="model">
		<header>{% include 'models/profile.twig' %}</header>
		{% if models | length == 1 %}<main>{% include 'models/info.twig' %}</main>{% endif %}
	</article>
	<hr>
	{% endfor %}
</section>
