{% extends "site.twig" %}
{% block content %}
<form method="POST" action="/user/login">
	<input type="hidden" name="destination" value="{{ destination }}">
	<input type="hidden" name="nonce" value="{{ nonce }}">
	<label>Email: <input name="email" type="email" value="{{ email }}"></label>
	<label>Password: <input name="password" type="password"></label>
	<input type="submit" value="login">
</form>
{% endblock %}
