{% extends "site.twig" %}
{% block content %}
<h1>JACK Login</h1>
<form method="POST" action="{{ urlFor('login') }}">
	<input type="hidden" name="destination" value="{{ destination }}">
	<input type="hidden" name="nonce" value="{{ nonce }}">
	<label>Username: <input name="username" type="text" value="{{ values.username }}"></label><br>
	<label>Password: <input name="password" type="password"></label><br>
	<input type="submit" value="login">
</form>
{% endblock %}
