body[data-template-path~="editorial"] #content {
	margin-top:100px;
	padding: 0;
}
/*
.image-grid {
	float: left;
	width: 100%;
	overflow: hidden;
}
.image-grid--item {
	float: left;
	height: auto;
}
.image-grid--4 .width--1 { width: 25%; }
.image-grid--4 .width--2 { width: 50%; }
.image-grid--4 .width--3 { width: 75%; }
*/
/*
*/

