#masthead h1 {
	margin: 0;
}
#masthead > nav {
	font-size: 16px;
	letter-spacing: 2px;
	color: rgb(195,195,195);
}

#masthead > nav a {
	display: block;
	line-height: 21px;
	padding: 5px 0;
	margin: 0 5px;
	outline-style: none !important;
	transition: border-color 0.2s;
}
#masthead a.selected {
	color: black;
	border-color: black !important;
}
#masthead > nav > .far-left,
#masthead > nav > .far-right {
	position: relative;
}
#masthead > nav > .far-right a {
}

#masthead .far-left, #masthead .far-left a, #masthead .far-left svg {
	width: auto;
	height: 38px;
}
#masthead .far-left h1 {
	overflow: hidden;
}
#masthead .far-left a {
	text-align: center;
	padding: 0;
	margin: 0;
	border-style: none;
}
#masthead > nav > .far-left .svg-image {
	width: auto;
}

#masthead .social-buttons li {
	width: 30px;
	margin: 0 2px;
}
#masthead .social-buttons li.button--facebook {
	width: 25px;
}
#masthead .social-buttons a {
	margin: 0 auto;
	line-height: 30px;
	width: 25px;
}
.social-buttons svg {
	width: 80%;
	height: 22px;
}
.social-buttons li.button--facebook svg {
	width: 100%;
}
#masthead .social-buttons .stroke { stroke: #c3c3c3; }
#masthead .social-buttons .fill { fill: #c3c3c3; }

.submenu {
	position: absolute;
	top: 45px;
	left: 0;
	width: 100%;
	white-space: nowrap;
	transform: translateX(-50%);
	transition: transform 0.2s linear;
}
#masthead .submenu a:hover {
	color: black;
}

@media (min-width: 670px) {
	#masthead {
		position: relative;
		height: 45px;
	}
	#masthead > nav {
		position: fixed;
		display: flex;
		background-color: white;
	}
	#masthead > .submenu {
		display: block;
		transform: translateY(-100%);
	}
	#masthead > .submenu > ul {
		margin: 0 auto;
	}
	#masthead > .submenu.visible {
		transform: translateY(0);
	}
	#masthead > nav a {
		margin: 0 15px;
	}
	#masthead h1 a {
		border-style: none !important;
	}
	.main-nav a {
		border: 3px none transparent;
	}
	.main-nav a:hover {
		border-color: rgb(195,195,195);
	}
	.main-nav a {
		border-top-style: solid;
	}
	#masthead > .subnav a {
		border-bottom-style: solid;
	}
	#masthead > nav > .far-left,
	#masthead > nav > .far-right {
		flex-basis: 150px;
		flex-grow: 2;
	}
	#masthead .far-left a,
	#masthead .far-left svg {
		height: 68px;
	}
	#masthead .far-left a {
		float: left;
		text-align: left;
	}
	.social-buttons {
		text-align: right;
		margin-right: 5px;
	}
	.social-buttons li {
		float: none !important;
	}
	#masthead .social-buttons a {
		height: 40px;
		line-height: 40px;
	}
}

@media (max-width: 669px) {
	#masthead .horizontal-list.floats li {
		float: none;
	}
	#masthead > nav > .far-left,
	#masthead > nav > .far-right {
		display: block;
	}
	#masthead > nav > .far-right {
		position: absolute;
		top: 1px;
		right: 5px;
	}
	#masthead > .main-nav,
	#masthead > .subnav {
		position: static;
		height: auto !important;
	}
	#masthead .social-buttons li {
		width: 30px;
	}
	#masthead .social-buttons a {
		margin: 0;
	}
	.social-buttons svg {
		width: 60%;
	}
	.social-buttons li.button--facebook svg {
		width: 80%;
	}
}

@media (min-width: 380px) {
	#masthead > nav,
	#masthead > nav a,
	#masthead > .main-nav > ul,
	#masthead > .main-nav > .far-right {
		height: 45px;
	}
	#masthead > .submenu,
	#masthead > .submenu a {
		height: auto;
	}
}
@media (max-width: 379px) {
	#masthead nav > .horizontal-list.floats li {
	}
}
@media (min-width: 980px) {
	#masthead > .main-nav > .far-right {
	}
	#masthead .social-buttons li {
		width: 40px;
	}
	#masthead .social-buttons li.button--facebook {
		width: 35px;
	}
	#masthead .social-buttons a {
		width: 35px;
	}
}
