<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>JACK Admin</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% if DEBUG %}
		<link rel="stylesheet" href="{{ 'css/admin.css' | url }}" media="all">
		{% else %}
		<link rel="stylesheet" href="{{ 'css/admin.css' | asset_url }}" media="all">
		{% endif %}
	</head>
	<body>
		<div id="container">
			<header>
				<h1>Admin Section</h1>
				<nav>
					<ul class="horizontal-list">
						<li><a href="{{ urlFor('list-issues') }}">Issues</a></li>
					</ul>
				</nav>
			</header>
			<div id="content">
				{% block content %}
				{% endblock %}
			</div>
		</div>
	</body>
</html>
