{% extends "site.twig" %}
{% block subnav %}
{% include "snippets/issues_subnav.twig" %}
{% endblock %}
{% block content %}
<div class="page-content">
	<section class="issue-sections">
		{% for section in sections %}
		<article class="issue-section">
			<header><h2><a href="{{ section.url }}">{{ section.title }}</a></h2></header>
			<main>{{ section.description | raw }}</main>
		</article>
		{% endfor %}
	</section>
</div>
{% endblock %}
