{% extends "site.twig" %}
{% block subnav %}
{% include "snippets/issues_subnav.twig" %}
{% endblock %}
{% block content %}
{% import "macros/img.twig" as img %}
<div class="background cover">{{ img.resp_img('backgrounds/issue' ~ issue.getNumber(), 5000) }}</div>
{% endblock %}
