{% extends "site.twig" %}
{% block subnav %}
{% include "snippets/issues_subnav.twig" %}
{% endblock %}
{% block content %}
<div class="background cover front"><img src="{{ ('issue-' ~ issue.getNumber() ~ '/layouts/part-1/1/cover_front.jpg') | asset_url }}" alt="Front cover"></div>
<div class="background cover back"><img src="{{ ('issue-' ~ issue.getNumber() ~ '/layouts/part-1/1/cover_back.jpg') | asset_url }}" alt="Back cover"></div>
{% endblock %}
