{% extends "site.twig" %}
{% block subnav %}
{% include "snippets/issues_subnav.twig" %}
{% endblock %}
{% block content %}
<div class="background cover front"><img src="{{ issue.covers[0].path | url }}" alt="Front cover"></div>
<div class="background cover back"><img src="{{ issue.covers[1].path | url }}" alt="Back cover"></div>
{% endblock %}
