{% extends "admin/site.twig" %}
{% block content %}
<h1>Content Management System</h1>
<h2>Pages</h2>
<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Edit</th>
		</tr>
	</thead>
	<tbody>
		{% for p in pages %}
		<tr>
			<td>{{ p.name }}</td>
			<td><a href="{{ p.editUrl }}">edit</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}

