body[data-url-path="contact"] {
	background-position: right bottom;
}
body[data-url-path="contact"] #content {
	background-color: transparent;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	font-size: 0.9em;
	min-height: 0;
}
#page-content--contact .columns {
	height:6em;
}
#page-content--contact form {
	max-width: 640px;
	margin: 0 auto 50px;
	color: rgb(195,195,195);
}
#page-content--contact #form-message {
	margin:-75px auto 50px;
}
#page-content--contact .main-content input,
#page-content--contact textarea {
	width: 100%;
	background-color: white;
	color: inherit !important;
	font-size: 1.1em;
	font-weight: bold;
	outline-style: none;
}
#page-content--contact input:focus,
#page-content--contact textarea:focus {
	background-color: #eee;
}
#page-content--contact input[type="email"] {
	height: 40px;
	line-height: 40px;
	margin-bottom: 1em;
	padding: 0 .5em;
	width: 100%;
}
#page-content--contact textarea {
	height:10em;
	line-height:30px;
	padding:0.25em 0.5em;
}
#page-content--contact input[type="submit"] {
	width: auto;
}
#staff article {
	margin-bottom: 40px;
}
#staff p {
	margin: 0;
}
#staff a:hover {
	color: black;
}

@media (max-width: 539px) {
	#page-content--contact form p:not(#form-message) {
		float: none;
	}
}
@media (min-width: 540px) {
	#page-content--contact form p:not(#form-message) {
		margin:0;
		padding:0;
		width:49%;
		max-width:50%;
	}
}
@media (min-width: 768px) {
	body[data-url-path="contact"] #content {
		color: white;
	}
	#page-content--contact .main-content input,
	#page-content--contact textarea {
		border-style: none;
	}
}
