#content .page-content {
	padding: 1em 10px !important;
	font-size: 20px;
	font-family: "Arial Black", "Arial", sans-serif;
	text-align: left;
	color: rgb(128, 128, 128);
}
#content .page-content p {
	line-height: 1.4;
}
#content .page-content img {
	display: block;
	margin: 7.4% auto;
}
#content .page-content p:first-child img {
	margin-top: 38px;
}

#content .models {
	margin: 7% 0;
}

@media (min-width: 700px) {
	.page-content > p > figure,
	#content .page-content img {
		max-width: 680px;
	}
}
@media (min-width: 640px) {
	#content .page-content {
		font-size: 24px;
	}
	#content .page-content p {
		line-height: 1.3;
	}
}
@media (min-width: 980px) {
	#content .page-content {
		font-size: 30px;
	}
	#content .page-content p {
		line-height: 1.2;
	}
}
