.page-content {
	max-width: 1080px !important;
}
#content .page-content {
	padding: 1em 0 !important;
	font-size: 20px;
	font-family: "Arial Black", "Arial", sans-serif;
	text-align: left;
	color: rgb(128, 128, 128);
}
#content .page-content p {
	line-height: 1.4;
}
#content .page-content img {
	display: block;
	margin: 7.4% auto;
}
#content .page-content p:first-child img {
	margin-top: 38px;
}

#content .models {
	font-family: "Arial", sans-serif;
	font-weight: bold;
	margin: 7% 0;
}
#content .model {
}
#content .models hr {
	visibility: hidden;
	margin: 10% 14%;
	border-color: #fefefe;
	opacity: 0.25;
}
#content .models hr:last-child {
	display: none;
}
#content .models header {
	margin-bottom: 5%;
}
#content .models figure {
	position: relative;
	margin: 0 auto;
	line-height: 1;
}
#content .models .sponsor {
	display: none;
	position: absolute;
	left: 100%;
	bottom: 0;
	white-space: nowrap;
	font-size: 0.4em;
	letter-spacing: 1px;
	transform: rotate(-90deg) translate(60px, 2px);
	transform-origin: left bottom;
}
#content .page-content .models img {
	display: inline;
	float: left;
}
#content .models figure.single {
	width: 75%;
	padding: 0 1%;
}
#content .models figure.double figcaption {
	margin-right: 1%;
}
#content .models figure.double img {
	max-width: 48%;
	margin: 0 1%;
}
#content .models figure.single img {
	max-width: none;
	width: 100%;
	margin: 0;
}
#content .models figcaption {
	clear: both;
	text-align: right;
	font-size: 0.8em;
}
#content .models .name {
	font-size: 1.5em;
	font-style: italic;
}
#content .models main {
	font-size: 0.7em;
	line-height: 1.2;
}
#content .models a {
	color: #bcb7b7;
}
#content .page-content .models a:hover {
	color: #c2dad9;
}
#content .models h4 {
	margin: 1.2em 0 0;
	color: #555;
}
#content .page-content .models p {
	margin: 0;
	font-style: italic;
	line-height: inherit;
}
#content .page-content .models p + p {
	margin-top: 1em;
}
#content .models h4::after {
	content: ':';
}

@media (min-width: 700px) {
	#content .page-content img {
		max-width: 680px;
	}
	#content .models .sponsor {
		display: block;
	}
}
@media (min-width: 640px) {
	#content .page-content {
		font-size: 24px;
	}
	#content .page-content p {
		line-height: 1.3;
	}
	#content .models main {
		font-size: 0.6em;
		line-height: 1.1;
	}
	#content .models hr {
		visibility: visible;
	}
	#content .models figure.single {
		width: 50%;
	}
}
@media (min-width: 980px) {
	#content .page-content {
		font-size: 30px;
	}
	#content .page-content p {
		line-height: 1.2;
	}
}
