body {
	position:relative;
	background-color:white;
}
#container {
	padding:0;
	background-repeat:no-repeat;
	background-size:contain;
	color: white;
	position:absolute;
	height:0;
	left:0;
	right:0;
	margin:auto;
}
#masthead {
  display: none;
}

