@import "lib/elements.less";
@import "lib/compounds.less";
@import "lib/normalize.less";
@import "lib/classes.less";

@import "lib/dropzone.less";
@import "lib/jack.less";

@dropzoneWidth:428px;
@linkBgColor:#7bab2e;

body {
	margin:0;
}

#container {
	max-width:1024px;
	margin:0 auto;
}

input, textarea {
	margin-bottom:1em;
}

textarea {
	display:block;
	min-width:50%;
	min-height:100px;
}

.issue-image {
	width:@issueImageWidth + @dropzoneWidth + 50px;
	overflow:hidden;
}

.issue-image__image {
	text-align:center;
	width:491px;
	img {
		max-width:450px;
		max-height:470px;
	}
}

.issue-image__input {
	width:@dropzoneWidth;
}

.tabs {
	.section-switcher__section {
		display:none;
		&:first-child {
			display:block;
		}
	}
}

#page-order {
	text-align:center;
	border-collapse:collapse;
	&, td, th {
		border:1px solid black;
	}
	td, .poster {
		width:200px;
	}
	td:hover, td.selected {
		background-color:green;
	}
	td.row-number:hover, tr.selected td {
		background-color:skyblue;
	}
	td {
		cursor:pointer;
		-moz-user-select:none;
		-webkit-user-select:none;
		user-select:none;
		&:hover {
			opacity:0.5;
		}
	}
	td.selected, tr.selected td {
		opacity:1;
	}
}

.horizontal-list a {
	display:block;
	padding:1em;
	background-color:darken(@linkBgColor, 20%);
	color:yellow;
	&.selected, &:hover {
		background-color:@linkBgColor;
	}
}
