@import "lib/normalize.css";
@import "lib/classes.css";

@import "components/dropzone.css";
@import "components/jquery-ui.css";
@import "components/jquery-ui-accordion.css";

body {
  margin: 0;
}
#container {
  max-width: 1024px;
  margin: 0 auto;
}
input,
textarea {
  margin-bottom: 1em;
}
textarea {
  display: block;
  min-width: 50%;
  min-height: 100px;
}
select {
  min-width: 300px;
}
td {
  border: 1px solid #7bab2e;
  padding: 1em;
  vertical-align: middle;
  text-align: right;
}
section {
  margin-bottom: 2em;
}
fieldset {
	margin-bottom:5%;
}
label {
	display:block;
}
.issue-image {
  width: 928px;
  overflow: hidden;
}
.issue-image__image {
  text-align: center;
  width: 491px;
}
.issue-image__image img {
  max-width: 450px;
  max-height: 470px;
}
.issue-image__input {
  width: 428px;
}
.tabs .section-switcher__section {
  display: none;
}
.tabs .section-switcher__section:first-child {
  display: block;
}
#page-order {
  text-align: center;
  border-collapse: collapse;
}
#page-order,
#page-order td,
#page-order th {
  border: 1px solid black;
}
#page-order td,
#page-order .poster {
  width: 200px;
  text-align: center;
}
#page-order td:hover,
#page-order td.selected {
  background-color: green;
}
#page-order td.row-number:hover,
#page-order tr.selected td {
  background-color: skyblue;
}
#page-order td {
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
#page-order td:hover {
  opacity: 0.5;
}
#page-order td.selected,
#page-order tr.selected td {
  opacity: 1;
}
.horizontal-list a {
  display: block;
  padding: 1em;
  background-color: #415b18;
  color: yellow;
}
.horizontal-list a.selected,
.horizontal-list a:hover {
  background-color: #7bab2e;
}

.issues-list li {
	width:25%;
}
.issues-list img {
	display:block;
	width:100%;
}
