@import "lib/normalize.css";
@import "lib/classes.css";

@import  "fonts.css";
* {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
  min-height: 100% !important;
}
body {
  min-width: 360px;
  max-width: 980px;
  margin: 0 auto;
  font-family: helvetica, sans-serif;
  background-color: #F5EEE4;
}
#container {
	padding:0 1%;
}
#admin-link {
	position:fixed;
	width:100px;
	top:0;
	right:-90px;
	background-color:red;
	color:white;
	text-align:right;
	text-decoration:none;
	font-size:16px;
	transition:all 0.2s;
}
#admin-link:hover {
	right:0;
	width:90px;
}
/*
#masthead > h1,
#masthead ul {
  margin: 0;
  padding: 0;
  line-height: 70px;
}
#masthead > h1 {
  float: left;
}
#masthead > nav {
  float: right;
  width: 75%;
}
#masthead ul {
  list-style-type: none;
  text-align: right;
}
#masthead li {
  display: inline-block;
  margin: 0 2%;
}
#masthead::after {
  clear: both;
  display: block;
  visibility: hidden;
  content: ' ';
  height: 0;
}
*/
#notices {
	position:fixed;
	top:0;
	left:50%;
	width:980px;
	margin-left:-490px;
	text-align:center;
	line-height:1.5;
	opacity:0;
	transition:all 0.5s;
}
#notices p {
	margin:0;
}
#notices .info {
	color:black;
}
#notices .error {
	color:red;
}
#main-loader {
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:2;
	background-color:white;
	background:rgba(255,255,255,0.7);
	background:rgba(0,0,0,0.7);
	opacity:1;
	visibility:visible;
	transition:opacity 0.3s linear 0s, visibility 0s linear 0.7s;
}
#main-loader svg {
	max-width:100%;
	max-height:100%;
}
#main-loader circle {
	fill: #888;
}
body.content-loaded #main-loader {
	opacity:0;
	visibility:hidden;
}
@-webkit-keyframes loadersize {
	from {
		-webkit-transform:translateX(0) scale(0.25);
	}
	50% {
		-webkit-transform:translateX(250%) scale(1);
	}
	to {
		-webkit-transform:translateX(500%) scale(0.25);
	}
}
@keyframes loadersize {
	from {
		transform:translateX(0) scale(0.25);
	}
	50% {
		transform:translateX(250%) scale(1);
	}
	to {
		transform:translateX(500%) scale(0.25);
	}
}
#main-loader circle {
	transform:translateX(0) scale(0.25);
	transform-origin:50%;
	-webkit-animation:loadersize 1.2s linear 0s infinite normal;
	animation:loader-size 0.75s linear 0s infinite normal;
}
#main-loader .two {
	-webkit-animation-delay:0.3s;
	animation-delay:0.3s;
}
#main-loader .three {
	-webkit-animation-delay:0.6s;
	animation-delay:0.6s;
}
#main-loader .four {
	-webkit-animation-delay:0.9s;
	animation-delay:0.9s;
}
body.loaded #main-loader {
	-webkit-animation-name:none;
	animation-name:none;
}
