@import "lib/elements.less";
@import "lib/compounds.less";
@import "lib/normalize.less";
@import "lib/classes.less";

@import  "fonts.less";

* {
	.box-sizing(border-box);
}

body {
	margin:0;
	font-family:helvetica,sans-serif;
	background-color:#F5EEE4;
}

#container {
	text-align:center;
}

#content {
	margin:0 auto;
	max-width:980px;
	text-align:left;
	display:inline-block;
}

.admin-link {
	position:fixed;
	top:0;
	right:0;
}

@import "components/section-switcher.less";

@import "pages/home.less";
@import "pages/issues.less";
@import "pages/issue.less";
@import "pages/nda.less";
