@import "lib/elements.less";
@import "lib/compounds.less";
@import "lib/normalize.less";
@import "lib/classes.less";

@import  "fonts.less";

* {
	.box-sizing(border-box);
}

body {
	margin:0;
	font-family:helvetica,sans-serif;
	background-color:#F5EEE4;
}

#container {
	text-align:center;
	min-width:360px;
	max-width:980px;
	margin:0 auto;
}
/* Narrow pages */
.section-user #container {
	max-width:640px;
}

#masthead {
	> h1, ul {
		margin:0;
		padding:0;
		line-height:70px;
	}
	> h1 {
		float:left;
	}
	> nav {
		float:right;
		width:75%;
	}
	ul {
		list-style-type:none;
		text-align:right;
	}
	li {
		display:inline-block;
		margin:0 2%;
	}
	&::after {
		clear:both;
		display:block;
		visibility:hidden;
		content:' ';
		height:0;
	}
}

#notices {
	text-align:left;
	p {
		border:1px solid transparent;
		margin-bottom:5%;
		padding:4%;
		&:last-child {
			margin-bottom:0;
		}
	}
	.info {
		background-color:#BBB;
		border-color:#999;
	}
	.error {
		background-color:#ff9999;
		border-color:#ff6666;
	}
}

#content {
	margin:0 auto;
	max-width:980px;
	text-align:left;
	display:inline-block;
}

@import "components/section-switcher.less";

@import "sections/user.less";

@import "pages/home.less";
@import "pages/issues.less";
@import "pages/issue.less";
@import "pages/nda.less";
