{% extends "site.twig" %}
{% block content %}
{% import "macros/img.twig" as img %}
<div class="text-content">
	<p class="serif justified">
	Jack, a fresh new publication in its unique gigantic poster size - 58 24” x 36” 
	pages, is not only one of a kind in the whole world, but we are also conducting
	an in-depth portrayal of the pop and entertainment culture. It will be studied and featured,
	focusing on everything and anything news worthy in the field of fashion, film, music, beauty, sports, 
	art, design, people. We are devoted to spread the good and the love of all the
	innocencents and the voiceless. We are a collectable piece of art. Everything that 
	we do or touch, whether it is editorial, flm, or website, is carefully planned, 
	selected, and executed, but we also strive in our spontaneous and fresh 
	approach to our creativity, presentation, and art … nothing short of being 
	viewed as “world class“.<br><br>
	<span class="tc">Jack is Magazine, Film, Website</span>
	</p>
</div>
{% endblock %}
