{% extends "site.twig" %}
{% block content %}
{% import "macros/img.twig" as img %}
<div class="background">{{ img.resp_img('backgrounds/gallery', 5000) }}</div>
<p class="justified white left">
Jack Events will feature the upcoming premiere of issue #1 &mdash; “dare to dream“ &mdash; in 
the art of peep couture.  An art installation with the entire collection of Jack's
first issue will be featured in the form of posters and limited edition museum 
archival art prints. The public will have the chance to witness the birth of Jack,
“where it all begins“.
</p>
{% endblock %}
