{% extends "site.twig" %}
{% block content %}
<article>
	<section id="home-introduction">
<h1>Introduction</h1>
<p>Jack, the long awaited poster size magazine is finally here. A collectible piece of art where we collaborate with some of the most talented individuals in the world, where neither politics nor limits exist, where we challenge ourselves and dare to dream. We strive to create with the purest of hearts along with a positive, eager and passionate soul.</p>
<p>We are the best of each season. We are fashion, beauty, film, music, stars, entertainment.</p>
<p>We are design + art.</p>
<p>We are LOVE.</p>
<p>We are Jack xo</p>
	</section>
	<section id="home-format">
		<h1>Magazine Format</h1>
		<table>
			<tbody>
				<tr>
					<td>Page size</td>
					<td>24" x 18"</td>
				</tr>
				<tr>
					<td>Spread size</td>
					<td>24" x 36"</td>
				</tr>
				<tr>
					<td>Cover page</td>
					<td>24" x 54" (3 pages)</td>
				</tr>
				<tr>
					<td>Centerfold</td>
					<td>48" x 36"</td>
				</tr>
				<tr>
					<td>Page count</td>
					<td>56 (Estimate)</td>
				</tr>
			</tbody>
		</table>
		<p>Printed on both sides of the page.</p>
	</section>
	<section id="home-format">
		<h1>Presentation</h1>
		<p>Here is a preview of our <a href="{{ urlFor('issue', {"slug":first_issue.slug}) }}">first issue</a>.</p>
	</section>
</article>
{% endblock %}
