{% extends "site.twig" %}
{% block content %}
<div class="text-content post-intro-fade intro-fade">
	<p class="tc">
	Jack, the long awaited poster size magazine is finally here.
	A collectable piece of art where we collaborate with some of
	the most talented individuals in the world, where neither
	politics nor limits exist, where we challenge ourselves and dare
	to dream. We strive to create with the purist of heart along
	with a positive, eager and passionate soul.
	We are the best of each season. We are fashion, beauty, film,
	music, sports, people, muse, entertainment.<br>
	<span class="tc">We are design + art.<br>
	We are the pop culture. <br>
	We are LOVE.<br>
	We are FRESH.<br>
	We are Jack xo</span>
	</p>
</div>
{% endblock %}

{% block extra_content %}
{% if 'has-intro' in bodyClass %}
{% import "macros/svg.twig" as svg %}
<div id="intro-animation" class="content">
	<div class="background posters intro-fade"><img src="{{ 'intro/posters.jpg' | asset_url }}" alt=""></div>
	<div class="background flags intro-fade"><img src="{{ 'intro/flags.jpg' | asset_url }}" alt=""></div>
	<div class="tc center logo intro-fade">{{ svg.object('logo', 'Jack') }}<p class="tc">Premiere issue number 1</p></div>
</div>
{% endif %}
{% endblock %}

{% block foot_scripts %}
{% if not MINIFY_SCRIPTS and 'has-intro' in bodyClass %}
<script src="{{ 'js/lib/intro.js' | url }}" async></script>
{% endif %}
{% endblock %}
