{% extends "site.twig" %}
{% block content %}
<h1>Issues</h1>
<ol class="issues-list">
	{% for issue in issues %}
	<li>
		<a href="{{ urlFor('issue', {"slug": issue.slug}) }}">
			{{ issue.title }}
			<img src="{{ issue.covers.front }}" alt="">
		</a>
	</li>
	{% endfor %}
</ol>
{% endblock %}
