{% extends "site.twig" %}
{% block content %}
{% import "macros/img.twig" as img %}
{% import "macros/misc.twig" as misc %}
<div class="background">{{ img.resp_img('backgrounds/contact', 5000) }}</div>
<div class="columns tc absolute-center">
	<p class="col">{{ misc.contact('Dah Wee', 'Founder / Creative Director', 'dah@thejackmag.com') }}</p>
	<p class="col">{{ misc.contact('Carlos Padilla', 'Technical Director', 'carlos@thejackmag.com') }}</p>
</div>
{% endblock %}
