body[data-template-path="issues grid"] #container {
	max-width: none;
}
.grid-row {
	display: grid;
}
.image-grid a,
.image-grid img {
	width: 100%;
	height: auto;
	display: block;
}
.image-grid img {
	min-height: 100%;
}
.image-grid a {
	opacity: 0;
	transition: opacity 0.3s linear;
}
.image-grid.grid--ready a {
	opacity: 1;
}
